# This file should contain only rules that are specific to this project. For
# ignoring OS and IDE metadata files, please configure a global gitignore on
# in your development environment:
# https://github.com/palantirnet/development_documentation/blob/master/guidelines/git/gitignore.md

# Ignore Drupal settings and files
settings.php
services.yml
!conf/drupal/settings.php
!conf/drupal/services.yml
web/sites/*/files

# Ignore virtual environment and artifacts
.vagrant/
/artifacts/

# Ignore Drupal contrib downloaded by Composer
drush/contrib
web/core
web/modules/contrib
web/themes/contrib/
web/profiles/contrib/

# Ignore regular Composer dependencies
/vendor/

# Ignore npm dependencies
node_modules/
npm-debug.log

# Ignore generated CSS
*.sass-cache/
styleguide/*.sass-cache/
styleguide/source/code/css/*.css

# Ignore sculpin output
styleguide/output_dev/
styleguide/output_prod/
